{% extends "layout.html"%}

{% set pageId = "page-create-point" %}

{% block title %}
    <title>Criar um ponto de coleta</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="css/create.point.css">
    <link rel="stylesheet" href="css/modal.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}

    <!--formulario de cadastro-->
    <form action="/savepoint" method="POST" >

        <h1>Cadastro ponto de coleta</h1>

        <fieldset>
            <legend>
                <h2>Dados da entidade</h2>
            </legend>

            <div class="field-group">
            <div class="field">
                <label for="name">Nome da entidade</label>
                <input type="text" name="name" required="required">
            </div>

            <div class="field">
                <label for="name">Imagem da entidade</label>
                <input type="url" name="image" required="required" placeholder="http://">
            </div>
            </div>

            

            <div class="field-group">
                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required="required">
                </div>
                <div class="field">
                    <label for="address">Número/Complemento</label>
                    <input type="text" name="address2" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>

                    <input type="hidden" name="state">
                </div>

                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled" required="required">
                        <option value="">Selecione a cidade</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <!-- Fim do formulario de cadastro-->

        <fieldset>
            <!--Inicio dos itens de coleta-->
            <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>

            <div class="items-grid">
                <li data-id="Lâmpadas">
                    <img src="/assets/lampadas.svg" alt="Lâmpadas">
                    <span>Lâmpadas</span>
                </li>

                <li data-id="pilhas e Baterias">
                    <img src="/assets/baterias.svg" alt="pilhas e Baterias">
                    <span>pilhas e Baterias</span>
                </li>

                <li data-id="papéis e Papelão">
                    <img src="/assets/papeis-papelao.svg" alt="papéis e Papelão">
                    <span>papéis e Papelão</span>
                </li>

                <li data-id="Resíduos Eletrônicos">
                    <img src="/assets/eletronicos.svg" alt="Resíduos Eletrônicos">
                    <span>Resíduos Eletrônicos</span>
                </li>

                <li data-id="Resídous Eletrônicos">
                    <img src="/assets/organicos.svg" alt="Resídous Eletrônicos">
                    <span>Resídous Eletrônicos</span>
                </li>

                <li data-id="Óleo de Cozinhas">
                    <img src="/assets/oleo.svg" alt="Óleo de Cozinha">
                    <span>Óleo de Cozinhas</span>
                </li>
            </div>

            <input type="hidden" name="items">

        </fieldset>
        <!--fim dos itens de coleta-->

        <button type="submit">Cadastrar ponto de coleta</button>

    </form>

    


{% endblock content%}}

{% block modal %}
    {% if saved %}
        {%include "partials/point-created.html"%}
    {% endif %}
{% endblock modal %}

{% block scripts %}
<script src="/script/create-point.js"></script>
{% endblock scripts %}